:root{
  --logoColor: rgba(140,82,255,255);
  --shadowColor: rgba(56,33,102,255);
}
/*Navbar Styles*/
.navbar{
  padding: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-bottom: 2px solid #4a504d;
}

.navbar h2{
  font-size: 35px;
  margin: 20px;
  color: var(--logoColor);
  text-shadow:  3px 3px var(--shadowColor);
  cursor: pointer;
}

.navbar a{
  margin: 0 auto;
  text-decoration: none;
  padding: 6px;
  color: #fff;
}

a:hover{
  color: var(--logoColor);
}

.btn{
  background-color: var(--logoColor);
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 40px;
  font-family: "IBM Plex Mono", monospace;
}
.btn:hover{
  background-color: var(--shadowColor);
}

/* typer styles*/

.timer{
  margin: 20px auto 20px 50%;
}
.typerWrapper{
  margin: 20px auto;
  height: 400px;
  max-width: 900px;
  overflow: hidden;
}

#words{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: solid 2px;
}

.char{
  font-size: 35px;
  cursor:text;
  user-select: none;
  white-space: pre;
}

#typer-controls{
  font-size: 20px;
  display: flex;
  margin: 0 20px;
  gap: 20px;
  justify-content: right;
  align-items: center;
}

strong{
  font-weight: 600;
}


