:root{
  --logoColor: rgba(140,82,255,255);
  --shadowColor: rgba(56,33,102,255);
  --analogColor: #e252ff;
}
/*Navbar Styles*/
.navbar{
  padding: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navbar h2{
  font-size: 35px;
  margin: 20px;
  color: var(--logoColor);
  text-shadow:  3px 3px var(--shadowColor);
  cursor: pointer;
}

.navbar a{
  margin: 0  ;
  text-decoration: none;
  font-weight: 500;
  padding: 6px;
}

.activePage{
  color: var(--logoColor);
}

a{
  color:#fff;
}
a:hover{
  color: var(--analogColor);
}

.btn{
  background-color: var(--logoColor);
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 40px;
  font-family: "IBM Plex Mono", monospace;
}
.btn:hover{
  background-color: var(--shadowColor);
}



/* typer styles*/

.timer{
  margin: 20px auto 20px 50%;
}
.typerWrapper{
  margin: 20px auto;
  height: 400px;
  max-width: 900px;
  max-height: 250px;
}

#words{
  height: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: solid 2px;
  overflow: hidden;
}

#typer-controls{
  height: 100%;
  font-size: 20px;
  display: flex;
  margin: 0 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.char {
  font-size: 30px;
  cursor:text;
  user-select: none;
  white-space: pre;
  box-sizing: border-box;
  color: var(--shadowColor);
}
.char.active{
  border-bottom: 3px solid var(--logoColor);
  animation: blinking 1s infinite ;
  animation-timing-function: ease-in-out;
}
/*active blinling underline animation*/

@keyframes blinking {
    0%   { border-color:  var(--logoColor) }
    100% { border-color:  #242424  }
}

.wrong{
  color: var(--analogColor);
}
.right{
  color: var(--logoColor);
}
#mistakes{
  color: var(--analogColor);
}

strong{
  font-weight: 600;
}

#input-field{
  opacity: 0;
  z-index:-999;
  position: absolute;
}

/*          Sign up page               */
.signup{
  display: flex;
  justify-content: flex-start;
  margin: 30px auto;
  width: 360px;
  height: 410px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 0 20px var(--logoColor);
  background-color: var(#242424);
  overflow: hidden;
  align-items: flex-start;
}

.signup h3{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-shadow:  2px 2px var(--analogColor);
}

.signup label{
  display: block;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
}
.signup input{
  width: 350px;
  height: 40px;
  font-size: 16px;
  font-family:"IBM Plex Mono", monospace;;
  color: black;
  padding: 0 5px;
  border: none;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
}
.signup button{
  font-weight: bold;
}
.error{
  margin-top: 10px;
  width: 330px;
  padding: 12px;
  background: var(--analogColor);
  border-radius: 8px;
  font-size: 12px;
  box-shadow: 0px 0px 5px -3px #111;
}

/*             ACCOUNT PAGE             */

.account{
  display: flex;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.account a{
  text-align: center;
}


/* Forum post */ 
.card {
  width: 100%;
  max-width: 1000px;
  height: 100px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  margin: 30px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img {
  width: 75px;
  height: 75px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  height:95px;
  font-family: 'Poppins' sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 10px;
  margin-right: 15px;
}

.h1 {
  font-size: 16px;
  font-weight: bold;
}

.p {
  font-size: 12px;
  font-weight: lighter;
}

/* Highscore cards */ 
.card {
  width: px;
  height: 150px;
  background: #262626;
  border-radius: 10px;
  border: 1px solid #3F3F40;
}


header, footer, main {
  display: flex;
  align-items: center;
}

header {
  justify-content: space-between;
  margin: 20px;
  color: #BDBFB7;
}

header a {
  font-size: 15px;
  cursor: pointer;
  color: #BDBFB7
}

main {
  justify-content: flex-start;
  margin: 20px;
}

main p {
  color: white;
  font-weight: 600;
}

main a {
  color: #BDBFB7;
  font-weight: 100;
}

footer {
  margin: 20px;
  font-size: 15px;
  gap: 5px;
}

footer a {
  color: #2CAD3D;
  font-weight: 600;
}

footer p {
  color: white;
}

/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgba(140, 82, 255, 255);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgba(56,33,102,255);
  transition-duration: .3s;
}

.svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgba(56,33,102,255);
}

/*Leadrboard*/
.lb-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.forums{
  display: flex;
  flex-direction: column;
  align-items: center;
  

}